@import url(./fonts.css);

:root {
    --white: white;
    --black: black;
    --linkHover: #ED8E00;
    --btnBg: #F18128;
    --btnBgHover: #040D1F;
    --bodyBg: #040D1F;
    --title: #F18128;
    --comfortaa: 'Comfortaa';
    --montserrat: 'Montserrat';
    --roboto: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: var(--bodyBg);
    font-family: var(--comfortaa);
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: var(--title);
}

.btn {
    max-width: 166px;
    width: 100%;
    padding: 17px 10px;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: var(--black);
    text-align: center;
    border-radius: 4px;
    background: var(--btnBg);
    transition: 500ms;
}

.btn:hover {
    background: var(--btnBgHover);
    color: var(--white);
}